<!--<h1>Lista de películas</h1>-->

<!--&lt;!&ndash; Directiva - NGFOR &ndash;&gt;-->
<!--<p *ngFor="let numero of arregloNumeros">-->
<!--  {{numero}}</p>-->

<!--&lt;!&ndash; Directiva ngIf &ndash;&gt;-->
<!--<p *ngIf="false">-->
<!--  OCULTO-->
<!--</p>-->


<!--<div *ngFor="let pelicula of arregloPeliculas">-->
<!--<app-carta-pelicula-->

<!--  [urlImagen]="pelicula.url"-->
<!--  [descripcion]="pelicula.descripcion"-->
<!--  [nombreBoton]="pelicula.nombrePelicula"-->
<!--  (eventoDioClicEnBoton)="mensajeConsola($event)"-->
<!--  (eventoDioClicEnImagen)="mensajeConsola($event)"-->
<!--&gt;-->
<!--</app-carta-pelicula>-->
<!--</div>-->

<!--<button (click)="crearUsuario()">-->
<!--  Crear usuario-->
<!--</button>-->

<button (click)="habilitado = !habilitado">
  {{habilitado ? 'Habilitado' : 'Deshabilitado'}}
</button>

<app-carta-pelicula *ngIf="habilitado">
</app-carta-pelicula>

<div *ngFor="let usuario of arregloUsuarios">
  {{usuario.nombre}}
</div>
<br><br>



<!--
<br>
<div *ngFor="let pelicula of arregloPeliculas">
  <app-carta-pelicula

    urlImagen="https://pbs.twimg.com/profile_images/727652546093813761/wsIRWa4h.jpg"
    descripcion="Descripcion 1"
    nombreBoton="Like 1"
    (eventoDioClicEnBoton)="mensajeConsola($event)"
    (eventoDioClicEnImagen)="mensajeConsola($event)"
  >
  </app-carta-pelicula>
</div>-->

<!--
<br>
<app-carta-pelicula
  urlImagen="https://www.ecartelera.com/carteles/12500/12585/004_m.jpg"
  descripcion="Descripcion 2"
  nombreBoton="Like 2"
>
</app-carta-pelicula>
-->
